.currentDayDetails
{
  color: #fff;
  font-family: 'Roboto';
}

.currentDayDetails-content
{
  padding: 15px;
  padding-bottom: 0px;
}

.currentDayDetails-info
{
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
}

.currentDayDetails-info-name
{
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}

.currentDayDetails-info-description
{
  opacity: 0.9;
  margin-bottom: 4px;
}
